<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}默认标题{% endblock %}</title>

    <link rel="stylesheet" href="/static/plugin/jedate-6.0.2/skin/jedate.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <script>
        var isLogin = {{ isLogin | tojson }}
    </script>

</head>
<body>

    {% include 'header.html' %}

    {% block content %}


    {% endblock %}

    <script src="/static/plugin/echarts.min.js"></script>
    <script src="/static/plugin/jquery-2.1.4/jquery.js"></script>
    <script src="/static/plugin/jedate-6.0.2/jquery.jedate.js"></script>

    {% block usejs %}

    {% endblock %}


</body>
</html>